.character-div {
    display: flex;
    justify-content: flex-end;
    align-content: center;
    align-items: flex-start;
}

.character-div img {
    width: 15em;
    height: 12em;
}

.character-div p {
    width: 100%;
}
