.character-div {
    display: flex;
    justify-content: flex-end;
    align-content: center;
    align-items: flex-start;
}

.character-div img {
    max-width: 200px;
}

.character-div p {
    width: 100%;
}