.character-div {
    display: flex;
    justify-content: flex-end;
    align-content: center;
    align-items: flex-start;
}

.character-div img {
    height: 270px;
    width: 350px;
}

.character-div p {
    width: 100%;
}